body {
    background-color: black;
}

.navbar-brand {
    display: flex;
    flex-grow: 100;
}

#Navbar {
    background: radial-gradient(ellipse at center, rgba(30,87,153,1) 0%,rgba(0,16,122,1) 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 7px 10px -1px rgba(0,15,92,1);
}

#btn {
    background-image: linear-gradient(to right top, #202020, #333333, #474747, #5d5d5d, #737373);
    color: white;
    border: black solid 3px;
}

#card1 {
    background-image: linear-gradient(to right top, #202020, #333333, #474747, #5d5d5d, #737373);
    border: none;
}

#card4 {
    background-image: linear-gradient(to right top, #03143c, #001e59, #002977, #003396, #0a3eb6);
    color: white;
    border: none;
}

#btn2 {
    background-image: linear-gradient(to right top, #202020, #333333, #474747, #5d5d5d, #737373);
    color: white;
    border: black solid 3px;
}

#card2 {
    background-image: linear-gradient(to right top, #202020, #333333, #474747, #5d5d5d, #737373);
    border: none;
}

#card5 {
    background-image: linear-gradient(to right top, #03143c, #001e59, #002977, #003396, #0a3eb6);
    color: white;
    border: none;
}

#btn3 {
    background-image: linear-gradient(to right top, #202020, #333333, #474747, #5d5d5d, #737373);
    color: white;
    border: black solid 3px;
}

#card3 {
    background-image: linear-gradient(to right top, #202020, #333333, #474747, #5d5d5d, #737373);
    border: none;
}

#card6 {
    background-image: linear-gradient(to right top, #03143c, #001e59, #002977, #003396, #0a3eb6);
    color: white;
    border: none;
}

.input-group-text {
    background-image: linear-gradient(to right top, #202020, #333333, #474747, #5d5d5d, #737373);
    border-color: black;
}
.form-control {
    background-image: linear-gradient(to right top, #000e19, #082b3a, #004b5a, #006d77, #00908d);
    border-color: black;
    color: white;
}

.nav {
    position: sticky;
}

.jumbotron {
    background-image: linear-gradient(to right top, #454545, #5c5c5c, #757575, #8e8e8e, #a8a8a8);
}

.card {
    background-image: linear-gradient(to right top, #454545, #5c5c5c, #757575, #8e8e8e, #a8a8a8);
    margin-bottom: 10px;
    margin-left: 10px;
}

.no {
    background-image: linear-gradient(to right top, #520000, #750008, #99000a, #bf0008, #e50000);
    border: none;
}

.asdf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.v {
    background-image: linear-gradient(to bottom, #540000, #590022, #52053d, #3c1b54, #072a62);
    color: white;
    margin: 10px 0;
    border: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-body img {
    width: 100%;
}

.progress {
    background-color: darkblue;
    margin: 10px 0;
}

.progress-bar {
    background-image: radial-gradient(circle, #650000, #4f040d, #380910, #22080d, #000000);
}
