body {
    background-color: black;
}

.navbar-brand {
    display: flex;
    flex-grow: 100;
}

#Navbar {
    background: radial-gradient(ellipse at center, rgba(30,87,153,1) 0%,rgba(0,16,122,1) 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 7px 10px -1px rgba(0,15,92,1);
}